body {
  font-family: 'Arial', sans-serif;
  background-image: url('https://cdn.discordapp.com/attachments/1286403887590543402/1362987360769278234/received_560593747070180.jpg?ex=68046465&is=680312e5&hm=2c6214c6425e1391acf94be45f16159e684f0b82961b5ba93ee078a08a194259&');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background-color: rgba(0, 60, 0, 0.85);
  border: 2px solid white;
  padding: 20px;
  border-radius: 15px;
}

h1, h3 {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #006600; /* اللون الأخضر للشعار */
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #ffffff;
  color: #006600;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #004400;
}

th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  color: white;
}

.contact {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.contact span {
  color: #ffcc00;
  font-weight: bold;
}

.footer {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
  opacity: 0.8;
}
